body {
  font-size: 20px;
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}

.cat-info {
  display: flex;
  gap: 20px;
}

.description {
  max-width: 50%;
}

.error {
  color: red;
}

.is-hidden {
  display: none;
}
.breed-select {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 17px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none; /* Скрыт по умолчанию */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
